.choices-bin {
	font-family: "Century Gothic", Arial, Sans-serif;  
	font-size: 14px; 
	line-height: 22px;
	background: #fff;
	color: #ffffff;
}
.choices-bin h1{
	color:#FFF;
}
.choices-bin .wrapper {
	max-width: 800px;
	margin: 0 auto;
	background-color: #dfdede;
	font-family: 'Century Gothic', Arial, Sans-serif;
	padding: 40px 0;
}
.choices-bin .content {
	width:100%;
	max-width: 600px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}
.choices-bin .header {
	margin-bottom: 15px;
	clear: both;
	overflow: hidden;
}
.choices-bin .header .left {
	background: #333333;
	width: 50%;
	padding: 20px;
	float: left;
	box-sizing: border-box;
	-webkit-border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.choices-bin .header .right {
	background: #ffffff;
	width: 50%;
	padding: 20px;
	float: left;
	box-sizing: border-box;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	font-size: 12px;
	color: #199999;
	text-align: center;
	min-height: 90px;
}
.choices-bin .top {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius:  20px;
	background: #199999;
	text-align: center;
	padding: 30px;
	color: #ffffff;
	font-size: 17px;
	line-height: 28px;
}
.choices-bin .top p {
	margin: 0 0 20px;
}
.choices-bin .top h1 {
	font-size: 24px;
	line-height: 34px;
	margin: 0 0 20px;
}