<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Outerwear | Fully Promoted</title>
	
	<style>
		body {
			background: #dedede;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
	
</head>

<body>
	<!--wrapper-->
	<table cellpadding="0" cellspacing="0" bgcolor="#dedede" width="100%" align="center" style="margin: 0 auto;">
		<tr>
			<td>
				<!--header-->
				<table cellpadding="0" cellspacing="0" align="center" width="600">
					<tr>
						<td align="center" height="40"><img src="https://localfullypromoted.com/promote/templates/img/shop-local/logo-fp.png" width="250" style="margin:20px 0px 15px 0px;" alt="Fully Promoted Logo" /></td>
					</tr>
				</table>
				<!--/header-->
			</td>
		</tr>
		<tr>
			<td>
				<!--banner-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#FFFFFF">
					<tr>
						<td align="center"><img src="https://localfullypromoted.com/promote/templates/img/outerwear-banner.jpg" width="100%" alt="Outerwear Banner" /></td>
					</tr>
				</table>
				<!--/banner-->
			</td>
		</tr>
		<tr>
			<td>
				<!--body-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#ffffff">
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;"><p style="line-height: 25px;">There’s no reason to be cold this winter – we have all the outerwear you and your team need to stay warm. When your employees wear branded jackets and outwear featuring your company logo, you are growing your brand’s reach exponentially and helping ensure your team represents the brand well.</p>
						</span></td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
				</table>
				<!--/body-->
			</td>
		</tr>

		<tr>
			<td>
				<!--blue text bar-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#005d9c">
					<tr>
						<td align="center" height="12"><p><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 18px; line-height: 22px;text-align: center;color:white;font-weight: 600;">Outerwear to Consider for Your Team </span></p></td>
					</tr>
				</table>
				<!--/blue text bar-->
			</td>
		</tr>
		
		<tr>
			<td>
				<!--list-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#ffffff">
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 33px;">
								<p style="line-height: 25px;">We offer the following items with your business name and/or logo:</p>
							</span>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
					<td colspan="2" style="padding: 0px 40px;">
						<table cellpadding="0" cellspacing="0">
							<tbody><tr>
								<td width="100" style="text-align:center;">
									<img src="https://localfullypromoted.com/promote/templates/img/outerwear/wet-weather.jpg" alt="Outerwear Image" style="width:100%;max-width:88px;" width="88">
									<p style="font-family: 'Century Gothic', Arial, sans-serif; font-size: 17px; line-height:22px; color: #1ab7ea; padding-bottom: 15px;padding-top: 10px;">Wet Weather Jackets </p>
								</td>
								<td width="30"></td>
								<td width="100" style="text-align:center;">
									<img src="https://localfullypromoted.com/promote/templates/img/outerwear/softshell.jpg" alt="Outerwear Image" style="width:100%;max-width:88px;" width="88">
									<p style="font-family: 'Century Gothic', Arial, sans-serif; font-size: 17px; line-height:22px; color: #1ab7ea; padding-bottom: 15px;padding-top: 10px;">Softshell Jackets </p>
								</td>
								<td width="30"></td>
								<td width="100" style="text-align:center;">
									<img src="https://localfullypromoted.com/promote/templates/img/outerwear/vests.jpg" alt="Outerwear Image" style="width:100%;max-width:88px;" width="88">
									<p style="font-family: 'Century Gothic', Arial, sans-serif; font-size: 17px; line-height:22px; color: #1ab7ea; padding-bottom: 15px;padding-top: 10px;">Vests</p>
								</td>
								<td width="30"></td>
								<td width="100" style="text-align:center;">
									<img src="https://localfullypromoted.com/promote/templates/img/outerwear/fleece.jpg" alt="Outerwear Image" style="width:100%;max-width:88px;" width="88">
									<p style="font-family: 'Century Gothic', Arial, sans-serif; font-size: 17px; line-height:22px; color: #1ab7ea; padding-bottom: 15px;padding-top: 10px;">Polar Fleece </p>
								</td>
							</tr>
						</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding: 0px 40px;">
						<table cellpadding="0" cellspacing="0">
							<tbody><tr>
								<td width="100" style="text-align:center;">
									<img src="https://localfullypromoted.com/promote/templates/img/outerwear/football.jpg" alt="Outerwear Image" style="width:100%;max-width:88px;" width="88">
									<p style="font-family: 'Century Gothic', Arial, sans-serif; font-size: 17px; line-height:22px; color: #1ab7ea; padding-bottom: 15px;padding-top: 10px;">Football Jackets</p>
								</td>
								<td width="30"></td>
								<td width="100" style="text-align:center;">
									<img src="https://localfullypromoted.com/promote/templates/img/outerwear/rugby.jpg" alt="Outerwear Image" style="width:100%;max-width:88px;" width="88">
									<p style="font-family: 'Century Gothic', Arial, sans-serif; font-size: 17px; line-height:22px; color: #1ab7ea; padding-bottom: 15px;padding-top: 10px;">Rugby Tops</p>
								</td>
								<td width="30"></td>
								<td width="100" style="text-align:center;">
									<img src="https://localfullypromoted.com/promote/templates/img/outerwear/knitwear.jpg" alt="Outerwear Image" style="width:100%;max-width:88px;" width="88">
									<p style="font-family: 'Century Gothic', Arial, sans-serif; font-size: 17px; line-height:22px; color: #1ab7ea; padding-bottom: 15px;padding-top: 10px;">Knitwear & Corporate </p>
								</td>
								<td width="30"></td>
								<td width="100" style="text-align:center;">
									<img src="https://localfullypromoted.com/promote/templates/img/outerwear/more.jpg" alt="Outerwear Image" style="width:100%;max-width:88px;" width="88">
									<p style="font-family: 'Century Gothic', Arial, sans-serif; font-size: 17px; line-height:22px; color: #1ab7ea; padding-bottom: 15px;padding-top: 10px;">And More</p>
								</td>
							</tr>
							
							</tbody>
							</table>
						</td>
					</tr>
				</table>
				<!--/list-->
			</td>
		</tr>
		
		<tr>
			<td>
				<!--white text bar-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#fff">
					<tr>
						<td align="center" height="12"><p><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 20px; line-height: 22px;text-align: center;color:black;font-weight: 800;">Your local Fully Promoted team is standing by ready to help your business with obtaining the jackets and outwear your team needs to look their best and stay warm this winter. </span></p></td>
					</tr>
				</table>
				<!--/white text bar-->
			</td>
		</tr>
		
		
		<tr>
			<td>
				<!--blue bar-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#005d9c">
					<tr>
						<td align="center" height="12"></td>
					</tr>
				</table>
				<!--/blue bar-->
			</td>
		</tr>	
		
		<tr>
			<td>	
                <!--contact-->
                <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#1d3349">
                    <tr>
                        <td colspan="5" height="20">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="30">&nbsp;</td>
                        <td width="540" style="text-align: center;">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 22px; line-height: 25px; color: #ffffff; text-decoration:none;">
								Fully Promoted Decatur, AL</span><br/>
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 22px; line-height: 25px; font-weight: 600; "><a href="tel:256-309-0241" style="color: #ffffff; text-decoration:none;">256-309-0241</a></span><br/>
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 25px; color:white;"><a href="https://fullypromoted.com/" style="color: #ffffff; text-decoration:none;">Shop Now </a> | <a href="https://fullypromoted.com/contact/" style="color: #ffffff; text-decoration:none;"> Contact Us</a></span>
						</td>
						<td width="30">&nbsp;</td>
                    </tr>	
					 <tr>
                        <td colspan="5" height="20">&nbsp;</td>
                    </tr>
					<tr>
                        <td colspan="5" height="20">&nbsp;</td>
                    </tr>
                </table>
                <!--/contact-->
                <tr>
                    <td height="40">&nbsp;</td>
                </tr>
			</td>
		</tr>
	</table>
	<!--/bg-->
</body>
</html>