<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Corporate Planning | Fully Promoted</title>
	<link rel="stylesheet" href="/promote/templates/style.css" type="text/css">
	
	<style>
		body {
			background: #dedede;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
	
</head>

<body>
	<!--wrapper-->
	<table cellpadding="0" cellspacing="0" bgcolor="#dedede" width="100%" align="center" style="margin: 0 auto;">
		<tr>
			<td>
				<!--header-->
				<table cellpadding="0" cellspacing="0" align="center" width="600">
					<tr>
						<td align="left" valign="middle"><img src="https://localfullypromoted.com/promote/templates/img/logo-fp.png" width="250" style="margin:20px 0px 15px 0px;" alt="Fully Promoted Logo" /></td>
						<td align="right" valign="middle"><strong style="font-family: Century Gothic, Helvetica, Arial, sans-serif; color:#005d9c; font-size: 24px; line-height: 30px; text-align: center;">555-555-5555</strong></td>
					</tr>
				</table>
				<!--/header-->
			</td>
		</tr>
		<tr>
			<td>
				<!--banner-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#FFFFFF">
					<tr>
						<td align="center"><img src="https://localfullypromoted.com/promote/templates/img/corporate-planning.jpg" width="100%" alt="Brand Awareness" /></td>
					</tr>
				</table>
				<!--/banner-->
			</td>
		</tr>
		<tr>
			<td>
				<!--body-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#ffffff">
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;"><strong style="color: #11549a; font-size: 20px;">What do you have planned for next year and beyond?</strong><br><br>What goals have you set? If you have not started corporate planning for next year and the next few years, now is the time to gather your team and discuss goals, budgets, and more. Don’t delay – the new year will be upon us before you know it and we want to ensure we are able to meet your needs in a timely manner without manufacturing or production issues.<br><br>Fully Promoted [[company_name]] understands the need for looking towards the future and setting goals for your business’s growth. As you do that, we remind you that we offer:</span><br>
							<ul class="no-pad">
								<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px; ">Branding and marketing solutions</li>
								<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px; ">Promotional products</li>
								<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px; ">Branded apparel</li>
								<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px; ">Branded uniforms, workwear, and safety apparel</li>
								<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px; ">Custom embroidery and screen printing</li>
							</ul>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr bgcolor="#65d8fe">
						<td colspan="3" align="center">
							<table cellpadding="0" cellspacing="0" width="600">
								<tr>
									<td colspan="5" height="30">&nbsp;</td>
								</tr>
								<tr>
									<td width="30"></td>
									<td width="" valign="top"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">Whether you are looking for creative lead generation ideas, promotional products for upcoming events and marketing campaigns, help with with your employee uniform initiative, business cards and stationery with your new logo, or need ideas for your corporate employee rewards program, we have the solutions you’ve been looking for.<br><br><a href=""><img src="https://localfullypromoted.com/promote/templates/img/shop-now.jpg" alt="Shop Now" /></a></span></td>
									<td width="20"></td>
									<td width="145" valign="bottom"><img src="https://localfullypromoted.com/promote/templates/img/sanitizer.png" width="144" style="display: block;" /></td>
									<td width="30"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" align="center"></td>
					</tr>
					<tr>
						<td colspan="3" align="center"><img src="https://localfullypromoted.com/promote/templates/img/real.jpg" style="display: block;" /></td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
				</table>
				<!--/body-->
			</td>
		</tr>

		<tr>
			<td>
				<!--text-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#cccccc">
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540" align="center">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 19px; line-height: 22px; color: #000000;"><em>Our team of local experts is here to help grow your brand all around [[city]]. Call us today or browse some of our products and services 24/7 online!</em></span><br><br><a href=""><img src="https://localfullypromoted.com/promote/templates/img/contact-us.jpg" alt="Contact Us" /></a>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
				</table>
				<!--/text-->
			</td>
		</tr>
		
		
		
		<tr>
			<td>
				<!--blue bar-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#005d9c">
					<tr>
						<td align="center" height="12"></td>
					</tr>
				</table>
				<!--/blue bar-->
			</td>
		</tr>	
		
		<tr>
			<td>	
                <!--contact-->
                <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#1d3349">
                    <tr>
                        <td colspan="5" height="40">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="30">&nbsp;</td>
                        <td width="540" style="text-align: center;">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 22px; line-height: 32px; color: #ffffff;">Fully Promoted Decatur, AL<br><strong><a href="tel:555-555-5555" style="color: #ffffff; text-decoration:none;">555-555-5555</a></strong></span>
						</td>
						<td width="30">&nbsp;</td>
                    </tr>	
					<tr>
                        <td colspan="5" height="40">&nbsp;</td>
                    </tr>
                </table>
                <!--/contact-->
                <tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
                    <td height="40">&nbsp;</td>
                </tr>
			</td>
		</tr>
	</table>
	<!--/bg-->
</body>
</html>