<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Holiday Prep  | Fully Promoted</title>
	<link rel="stylesheet" href="/promote/templates/style.css" type="text/css">
	
	<style>
		body {
			background: #dedede;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
	
</head>

<body>
	<!--wrapper-->
	<table cellpadding="0" cellspacing="0" bgcolor="#dedede" width="100%" align="center" style="margin: 0 auto;">
		<tr>
			<td>
				<!--header-->
				<table cellpadding="0" cellspacing="0" align="center" width="600">
					<tr>
						<td align="left" valign="middle"><img src="https://localfullypromoted.com/promote/templates/img/logo-fp.png" width="250" style="margin:20px 0px 15px 0px;" alt="Fully Promoted Logo" /></td>
						<td align="right" valign="middle"><strong style="font-family: Century Gothic, Helvetica, Arial, sans-serif; color:#005d9c; font-size: 24px; line-height: 30px; text-align: center;">555-555-5555</strong></td>
					</tr>
				</table>
				<!--/header-->
			</td>
		</tr>
		<tr>
			<td>
				<!--banner-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#FFFFFF">
					<tr>
						<td align="center"><img src="img/holiday-banner.jpg" width="100%" alt="Sports" /></td>
					</tr>
				</table>
				<!--/banner-->
			</td>
		</tr>
		<tr>
			<td>
				<!--body-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#ffffff">
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
							<strong style="color: #005d9c; font-size: 23px; line-height: 32px;">Need Holiday Gifts That Will Impress Your Customers This Year? Fully Promoted Can Help!</strong><br>If sending a gift to show your customers how much you appreciate their business and their loyalty to your company is important to you, Fully Promoted can help you select holiday gifts that represent your brand and send the message you want to send. Our local experts are ready to present you with a wide array of gift options within your budget.<br><br><strong>And it’s never too soon to start thinking about the holidays!</strong></span>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td style="border-bottom: 1px solid #dedede;">&nbsp;</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540" align="center">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 20px; line-height: 24px;">
							<strong style="">Our Favorite Gifting Ideas for Clients and Customers</strong></span>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">
						
							<table cellpadding="0" cellspacing="0" width="600" align="center">
								<tr>
									<td width="30">&nbsp;</td>
									<td width="120" align="center"><img src="img/candy.jpg" style="max-width: 120px;" /></td>
									<td width="20">&nbsp;</td>
									<td width="400" valign="middle"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;"><strong style="font-size: 16px;">Candy, Cookies & Snacks</strong><br>Calories don’t count during the holidays so let’s send them what they really want – something they can snack on when the mid-afternoon slump hits.</span></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr><td colspan="5">&nbsp;</td></tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="120" align="center"><img src="img/laptop.jpg" style="max-width: 120px;" /></td>
									<td width="20">&nbsp;</td>
									<td width="400" valign="middle"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;"><strong style="font-size: 16px;">Laptop Bags</strong><br>Every professional has use for a well-made laptop bag. We’ll add your embroidered logo for a truly classic gift.</span></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr><td colspan="5">&nbsp;</td></tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="120" align="center"><img src="img/tumblers.jpg" style="max-width: 120px;" /></td>
									<td width="20">&nbsp;</td>
									<td width="400" valign="middle"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;"><strong style="font-size: 16px;">Gift Sets with 2 Insulated Tumblers</strong><br>A set of 2 insulated tumblers spotlighting your logo will keep coffee or tea warm while showing off your business.</span></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr><td colspan="5">&nbsp;</td></tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="120" align="center"><img src="img/candle.jpg" style="max-width: 120px;" /></td>
									<td width="20">&nbsp;</td>
									<td width="400" valign="middle"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;"><strong style="font-size: 16px;">Self Care Gifts</strong><br>Gifts that encourage the recipient to take time to relax such as spa kits that include soaps, lotions, blankets, bath bombs, candles, and more are always popular.</span></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr><td colspan="5">&nbsp;</td></tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="120" align="center"><img src="img/duffle.jpg" style="max-width: 120px;" /></td>
									<td width="20">&nbsp;</td>
									<td width="400" valign="middle"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;"><strong style="font-size: 16px;">Duffel Bags </strong><br>A practical gift like a duffel bag featuring your logo will be used for everything from gym days to weekend getaways.</span></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr><td colspan="5">&nbsp;</td></tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="120" align="center"><img src="img/speaker.jpg" style="max-width: 120px;" /></td>
									<td width="20">&nbsp;</td>
									<td width="400" valign="middle"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;"><strong style="font-size: 16px;">Tech Gift Sets </strong><br>When you include the right amount of branded tech items like phone stands, keyrings with flashlights, phone chargers, Bluetooth speakers or earbuds, battery packs for on-the-go charging, etc., the recipient will always be pleased.</span></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr><td colspan="5">&nbsp;</td></tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="120" align="center"><img src="img/wine.jpg" style="max-width: 120px;" /></td>
									<td width="20">&nbsp;</td>
									<td width="400" valign="middle"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;"><strong style="font-size: 16px;">Wine Themed Gifts</strong><br>Whether you include the wine or just the accessories (bottle opener, foil cutter, stemless glasses, and small cheeseboard), your logo will make these gifts the right choice.</span></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr><td colspan="5">&nbsp;</td></tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="120" align="center"><img src="img/coffee.jpg" style="max-width: 120px;" /></td>
									<td width="20">&nbsp;</td>
									<td width="400" valign="middle"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;"><strong style="font-size: 16px;">Coffee or Tea Gift Sets</strong><br>Let’s feature your logo on a set of mugs alongside gourmet coffee or tea.</span></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr><td colspan="5">&nbsp;</td></tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="120" align="center"><img src="img/sweater.jpg" style="max-width: 120px;" /></td>
									<td width="20">&nbsp;</td>
									<td width="400" valign="middle"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;"><strong style="font-size: 16px;">Apparel </strong><br>From outdoor activewear and scarves to uniforms and hats, we have apparel that can be worn year-round.</span></td>
									<td width="30">&nbsp;</td>
								</tr>
							</table>
							
						</td>
					</tr>
					<tr>
						<td colspan="3" height="40">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" align="center"><a href=""><img src="https://localfullypromoted.com/promote/templates/img/shop-now.jpg" alt="Shop Now" /></a></td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
				</table>
				<!--/body-->
			</td>
		</tr>

		<tr>
			<td>
				<!--text-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#cccccc">
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540" align="center">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000;"><em>Fully Promoted is ready to help your business send the perfect holiday gifts this year by helping you plan ahead and select your gifts early. Call us today to get your holiday gifting plan in order or you can also browse some of our popular products 24/7 online! </em></span><br><br><a href=""><img src="https://localfullypromoted.com/promote/templates/img/contact-us.jpg" alt="Contact Us" /></a>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
				</table>
				<!--/text-->
			</td>
		</tr>
		
		
		
		<tr>
			<td>
				<!--blue bar-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#005d9c">
					<tr>
						<td align="center" height="12"></td>
					</tr>
				</table>
				<!--/blue bar-->
			</td>
		</tr>	
		
		<tr>
			<td>	
                <!--contact-->
                <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#1d3349">
                    <tr>
                        <td colspan="5" height="40">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="30">&nbsp;</td>
                        <td width="540" style="text-align: center;">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 22px; line-height: 32px; color: #ffffff;">Fully Promoted Decatur, AL<br><strong><a href="tel:555-555-5555" style="color: #ffffff; text-decoration:none;">555-555-5555</a></strong></span>
						</td>
						<td width="30">&nbsp;</td>
                    </tr>	
					<tr>
                        <td colspan="5" height="40">&nbsp;</td>
                    </tr>
                </table>
                <!--/contact-->
                <tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
                    <td height="40">&nbsp;</td>
                </tr>
			</td>
		</tr>
	</table>
	<!--/bg-->
</body>
</html>