<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home Services  | Fully Promoted</title>
	<link rel="stylesheet" href="/promote/templates/style.css" type="text/css">
	
	<style>
		body {
			background: #dedede;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
	
</head>

<body>
	<!--wrapper-->
	<table cellpadding="0" cellspacing="0" bgcolor="#dedede" width="100%" align="center" style="margin: 0 auto;">
		<tr>
			<td>
				<!--header-->
				<table cellpadding="0" cellspacing="0" align="center" width="600">
					<tr>
						<td align="left" valign="middle"><img src="https://localfullypromoted.com/promote/templates/img/logo-fp.png" width="250" style="margin:20px 0px 15px 0px;" alt="Fully Promoted Logo" /></td>
						<td align="right" valign="middle"><strong style="font-family: Century Gothic, Helvetica, Arial, sans-serif; color:#005d9c; font-size: 24px; line-height: 30px; text-align: center;">555-555-5555</strong></td>
					</tr>
				</table>
				<!--/header-->
			</td>
		</tr>
		<tr>
			<td>
				<!--banner-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#FFFFFF">
					<tr>
						<td align="center"><img src="https://localfullypromoted.com/promote/templates/img/home-services-banner.jpg" width="100%" alt="Sports" /></td>
					</tr>
				</table>
				<!--/banner-->
			</td>
		</tr>
		<tr>
			<td>
				<!--body-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#ffffff">
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">The local experts at Fully Promoted [[site_name]] are ready to help your home services business grow. With over 20 years of experience, we know how important it is to represent your company well – from <a href="https://shop.fullypromoted.com/promo-products/201972/FP-Workwear-Shirts.html" target="_blank" style="color: #005d9c;">custom uniforms and apparel</a> to <a href="https://shop.fullypromoted.com/promo-products/201975/FP-Construction-Promo-Products.html" target="_blank" style="color: #005d9c;">promotional products</a>. We understand what makes sense for your industry and believe in selecting quality items from brands you know and trust such as Carhartt, Dickies, Red Kap, Berne, Bulwark, Kishigo, Bayside, Portwest, and CornerStone.</span>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td style="border-bottom: 1px solid #dedede;">&nbsp;</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
							<strong style="color: #005d9c; font-size: 20px;">Let Fully Promoted [[site_name]] help grow your business with promotions that work as hard as you do.</strong><br>Here are some of the most requested items for home services businesses from pest control companies and plumbers to electricians, lawn maintenance, and painters. Fully Promoted [[site_name]] can customize everything with our embroidery and screenprinting techniques.</span>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">
						
							<table cellpadding="0" cellspacing="0" width="600" align="center">
								<tr>
									<td width="30">&nbsp;</td>
									<td align="center"><img src="img/workshirt.jpg" /></td>
									<td width="15">&nbsp;</td>
									<td align="center"><img src="img/cap.jpg"/></td>
									<td width="15">&nbsp;</td>
									<td align="center"><img src="img/tumbler.jpg" /></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td align="center"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px;"><strong>Uniform Workwear Shirts and T-Shirts</strong></span></td>
									<td width="15">&nbsp;</td>
									<td align="center"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px;"><strong>Baseball Caps</strong></span></td>
									<td width="15">&nbsp;</td>
									<td align="center"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px;"><strong>Tumblers</strong></span></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="2" height="40">&nbsp;</td>
								</tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td align="center"><img src="img/tape-measure.jpg" /></td>
									<td width="15">&nbsp;</td>
									<td align="center"><img src="img/clipboard.jpg"/></td>
									<td width="15">&nbsp;</td>
									<td align="center"><img src="img/pencils.jpg" /></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td align="center"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px;"><strong>Tape Measures</strong></span></td>
									<td width="15">&nbsp;</td>
									<td align="center"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px;"><strong>Clipboards</strong></span></td>
									<td width="15">&nbsp;</td>
									<td align="center"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 22px;"><strong>Pens and Pencils</strong></span></td>
									<td width="30">&nbsp;</td>
								</tr>
							</table>
							
						</td>
					</tr>
					<tr>
						<td colspan="3" height="40">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" align="center"><a href=""><img src="https://localfullypromoted.com/promote/templates/img/shop-now.jpg" alt="Shop Now" /></a></td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
				</table>
				<!--/body-->
			</td>
		</tr>

		<tr>
			<td>
				<!--text-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#cccccc">
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540" align="center">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000;"><em>When you order your uniforms, apparel, and other items online, our team will ensure your order is turned around promptly. Our local team can also create a branded web store for easy employee ordering. Fully Promoted [[site_name]] is ready to assist in bringing your vision to life so your business can reach its full potential.</em></span><br><br><a href=""><img src="https://localfullypromoted.com/promote/templates/img/contact-us.jpg" alt="Contact Us" /></a>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
				</table>
				<!--/text-->
			</td>
		</tr>
		
		
		
		<tr>
			<td>
				<!--blue bar-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#005d9c">
					<tr>
						<td align="center" height="12"></td>
					</tr>
				</table>
				<!--/blue bar-->
			</td>
		</tr>	
		
		<tr>
			<td>	
                <!--contact-->
                <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#1d3349">
                    <tr>
                        <td colspan="5" height="40">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="30">&nbsp;</td>
                        <td width="540" style="text-align: center;">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 22px; line-height: 32px; color: #ffffff;">Fully Promoted Decatur, AL<br><strong><a href="tel:555-555-5555" style="color: #ffffff; text-decoration:none;">555-555-5555</a></strong></span>
						</td>
						<td width="30">&nbsp;</td>
                    </tr>	
					<tr>
                        <td colspan="5" height="40">&nbsp;</td>
                    </tr>
                </table>
                <!--/contact-->
                <tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
                    <td height="40">&nbsp;</td>
                </tr>
			</td>
		</tr>
	</table>
	<!--/bg-->
</body>
</html>