<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Back to School  | Fully Promoted</title>
	<link rel="stylesheet" href="/promote/templates/style.css" type="text/css">
	
	<style>
		body {
			background: #dedede;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
	
</head>

<body>
	<!--wrapper-->
	<table cellpadding="0" cellspacing="0" bgcolor="#dedede" width="100%" align="center" style="margin: 0 auto;">
		<tr>
			<td>
				<!--header-->
				<table cellpadding="0" cellspacing="0" align="center" width="600">
					<tr>
						<td align="left" valign="middle"><img src="https://localfullypromoted.com/promote/templates/img/logo-fp.png" width="250" style="margin:20px 0px 15px 0px;" alt="Fully Promoted Logo" /></td>
						<td align="right" valign="middle"><strong style="font-family: Century Gothic, Helvetica, Arial, sans-serif; color:#005d9c; font-size: 24px; line-height: 30px; text-align: center;">555-555-5555</strong></td>
					</tr>
				</table>
				<!--/header-->
			</td>
		</tr>
		<tr>
			<td>
				<!--banner-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#FFFFFF">
					<tr>
						<td align="center"><img src="https://localfullypromoted.com/promote/templates/img/school2.jpg" width="100%" alt="Sports" /></td>
					</tr>
				</table>
				<!--/banner-->
			</td>
		</tr>
		<tr>
			<td>
				<!--body-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#ffffff">
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
							<strong style="color: #005d9c; font-size: 26px; line-height: 34px;">Custom Swag to Welcome Your Faculty, Staff & Students Back to School</strong><br>Welcoming your faculty, staff, and students back to school this fall is a big deal! After the chaos last year, we know you will want to celebrate everyone being back on campus together. There’s no limit to what we can personalize with your school’s colors and mascot to get everyone pumped for a great year ahead.</span>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td style="border-bottom: 1px solid #dedede;">&nbsp;</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540" align="center">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 20px; line-height: 24px;">
							<strong style="">Celebrate the Heroes – Your Faculty & Staff</strong></span>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">
						
							<table cellpadding="0" cellspacing="0" width="600" align="center">
								<tr>
									<td width="30">&nbsp;</td>
									<td width="127" align="center"><img src="img/candy.jpg" height="118" /></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center"><img src="img/tote.jpg" height="118" /></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center"><img src="https://localfullypromoted.com/uploads/gallery/633-tumbler.jpg" height="118"/></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center"><img src="https://localfullypromoted.com/uploads/gallery/sweater.jpg" height="118" /></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="127" align="center" valign="top"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px;"><strong>Candy, Cookies & Snacks</strong><br>Choose something fun and tasty to show them you care!</span></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center" valign="top"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px;"><strong>Tote Bags</strong><br>Customized tote bags will be a big hit and very useful.</span></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center" valign="top"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px;"><strong>Insulated Tumblers</strong><br>Everyone will cheer when they have a way to keep their coffee warm in a stylish tumbler with your mascot on it.</span></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center" valign="top"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px;"><strong>Custom Apparel</strong><br>Add your school’s theme to a t-shirt, sweatshirt, or jacket for each member of your faculty and staff – they’ll love it!</span></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="2" height="40">&nbsp;</td>
								</tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="127" align="center"><img src="img/lanyard.jpg" height="118" /></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center"><img src="https://localfullypromoted.com/uploads/gallery/clipboard.jpg" height="118" /></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center"><img src="img/drawstring.jpg" height="118"/></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center"><img src="img/water-bottle.jpg" height="118" /></td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr>
									<td width="30">&nbsp;</td>
									<td width="127" align="center" valign="top"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px;"><strong>Lanyards</strong><br>We can add your school’s name and logo to a lanyard that will keep students’ IDs visible at all times.</span></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center" valign="top"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px;"><strong>Pencils & Folders</strong><br>Let’s add your mascot and make sure your students are ready for success on day one.</span></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center" valign="top"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px;"><strong>Drawstring Bags</strong><br>Perfect for carrying athletic sneakers or art supplies to school!</span></td>
									<td width="12">&nbsp;</td>
									<td width="127" align="center" valign="top"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px;"><strong>Water Bottles</strong><br>Students will love having their school’s mascot on a water bottle they can take to all their sports practices after school.</span></td>
									<td width="30">&nbsp;</td>
								</tr>
							</table>
							
						</td>
					</tr>
					<tr>
						<td colspan="3" height="40">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" align="center"><a href=""><img src="https://localfullypromoted.com/promote/templates/img/shop-now.jpg" alt="Shop Now" /></a></td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
				</table>
				<!--/body-->
			</td>
		</tr>

		<tr>
			<td>
				<!--text-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#cccccc">
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540" align="center">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000;"><em>Fully Promoted is ready to help your faculty, staff, and student body get ready for a great year ahead! Whether you’re looking for swag to give out on orientation day or need more information about uniforms for your sports teams, you can count on us. </em></span><br><br><a href=""><img src="https://localfullypromoted.com/promote/templates/img/contact-us.jpg" alt="Contact Us" /></a>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
				</table>
				<!--/text-->
			</td>
		</tr>
		
		
		
		<tr>
			<td>
				<!--blue bar-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#005d9c">
					<tr>
						<td align="center" height="12"></td>
					</tr>
				</table>
				<!--/blue bar-->
			</td>
		</tr>	
		
		<tr>
			<td>	
                <!--contact-->
                <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#1d3349">
                    <tr>
                        <td colspan="5" height="40">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="30">&nbsp;</td>
                        <td width="540" style="text-align: center;">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 22px; line-height: 32px; color: #ffffff;">Fully Promoted Decatur, AL<br><strong><a href="tel:555-555-5555" style="color: #ffffff; text-decoration:none;">555-555-5555</a></strong></span>
						</td>
						<td width="30">&nbsp;</td>
                    </tr>	
					<tr>
                        <td colspan="5" height="40">&nbsp;</td>
                    </tr>
                </table>
                <!--/contact-->
                <tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
                    <td height="40">&nbsp;</td>
                </tr>
			</td>
		</tr>
	</table>
	<!--/bg-->
</body>
</html>