<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Shop Local | Fully Promoted</title>
	
	<style>
		body {
			background: #dedede;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
	
</head>

<body>
	<!--wrapper-->
	<table cellpadding="0" cellspacing="0" bgcolor="#dedede" width="100%" align="center" style="margin: 0 auto;">
		<tr>
			<td>
				<!--header-->
				<table cellpadding="0" cellspacing="0" align="center" width="600">
					<tr>
						<td align="center" height="40"><img src="https://localfullypromoted.com/promote/templates/img/shop-local/logo-fp.png" width="250" style="margin:20px 0px 15px 0px;" alt="Fully Promoted Logo" /></td>
					</tr>
				</table>
				<!--/header-->
			</td>
		</tr>
		<tr>
			<td>
				<!--banner-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#FFFFFF">
					<tr>
						<td align="center"><img src="https://localfullypromoted.com/promote/templates/img/shop-local/shop-local.jpg" width="100%" alt="Shop Local Banner" /></td>
					</tr>
				</table>
				<!--/banner-->
			</td>
		</tr>
		<tr>
			<td>
				<!--body-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#ffffff">
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;"><h2 style="color:#23a7db; text-align: center;">Why is it important to shop locally?</h2><p style="line-height: 25px;">When you shop locally, you are supporting a member of your local community and in these trying times, supporting local businesses will help them stay afloat and survive the quarantines and shutdowns brought on by the Coronavirus. Small businesses in our communities are important to our local economy and research has indicated that when you shop locally, you keep it local because $68 of every $100 spent at a local business ends up in the local community. We are here to build long term strategies to keep your brand top of mind. Working with one professional source can help alleviate stress during these difficult times.</p></span></td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
				</table>
				<!--/body-->
			</td>
		</tr>

		<tr>
			<td>
				<!--blue text bar-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#005d9c">
					<tr>
						<td align="center" height="12"><p><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 18px; line-height: 22px;text-align: center;color:white;font-weight: 600;">When you shop local, you:</span></p></td>
					</tr>
				</table>
				<!--/blue text bar-->
			</td>
		</tr>
		
		<tr>
			<td>
				<!--list-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#ffffff">
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 33px;">
								<ul style="padding-left:0; margin-left:18px;">
									<li style="color:#005d9c;"><span style="color:#000000;">Help keep money flowing through the community</span></li>
									<li style="color:#005d9c;"><span style="color:#000000;">Increase the community’s tax base and local government services</span></li>
									<li style="color:#005d9c;"><span style="color:#000000;">Demo of your Local DashboardCreate jobs within the community</span></li>
									<li style="color:#005d9c;"><span style="color:#000000;">Receive better service that is more personal</span></li>
									<li style="color:#005d9c;line-height: 25px;"><span style="color:#000000;">Spend less time waiting for your products to arrive or services to be performed</span></li>
									<li style="color:#005d9c;"><span style="color:#000000;">Access more unique products</span></li>
									<li style="color:#005d9c;"><span style="color:#000000;">Support the local non-profit community</span></li>
									<li style="color:#005d9c;"><span style="color:#000000;">Support a local family</span></li>
									<li style="color:#005d9c;"><span style="color:#000000;">Help someone in your community reach their goals</span></li>
								</ul>
							</span>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
				</table>
				<!--/list-->
			</td>
		</tr>
		
		<tr>
			<td>
				<!--text-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#f2f2f2">
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="280">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 33px;">
								<p>Your local Fully Promoted team is ready to help your business with promotional products or custom marketing solutions because we want to help your business survive the Coronavirus. </p>
							</span>
						</td>
						<td width="90" style="text-align: right;"><img src="img/shop-local/support-small.png" alt="Supprot Small Business" style="display: block;"></td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
				</table>
				<!--/text-->
			</td>
		</tr>
		
		
		
		<tr>
			<td>
				<!--blue bar-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#005d9c">
					<tr>
						<td align="center" height="12"></td>
					</tr>
				</table>
				<!--/blue bar-->
			</td>
		</tr>	
		
		<tr>
			<td>	
                <!--contact-->
                <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#1d3349">
                    <tr>
                        <td colspan="5" height="20">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="30">&nbsp;</td>
                        <td width="540" style="text-align: center;">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 22px; line-height: 25px; color: #ffffff; text-decoration:none;">
								Fully Promoted Decatur, AL</span><br/>
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 22px; line-height: 25px; font-weight: 600; "><a href="tel:256-309-0241" style="color: #ffffff; text-decoration:none;">256-309-0241</a></span><br/>
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 25px; color:white;"><a href="https://fullypromoted.com/" style="color: #ffffff; text-decoration:none;">Shop Now </a> | <a href="https://fullypromoted.com/contact/" style="color: #ffffff; text-decoration:none;"> Contact Us</a></span>
						</td>
						<td width="30">&nbsp;</td>
                    </tr>	
					 <tr>
                        <td colspan="5" height="20">&nbsp;</td>
                    </tr>
					<tr>
                        <td colspan="5" height="20">&nbsp;</td>
                    </tr>
                </table>
                <!--/contact-->
                <tr>
                    <td height="40">&nbsp;</td>
                </tr>
			</td>
		</tr>
	</table>
	<!--/bg-->
</body>
</html>