<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Template</title>
	
	<style>
		body {
			margin: 0; padding: 0; background: #efefef;
		}
	</style>
	
</head>

<body>
	
	<table cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;" bgcolor="#efefef">
		<tr>
			<td height="50">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<!--body-->
				<table cellpadding="0" cellspacing="0"  width="600" align="center" style="margin: 0 auto;" bgcolor="#ffffff">
					<tr>
						<td>
							<!--header-->
							<table cellpadding="0" cellspacing="0"  width="600" align="center" style="margin: 0 auto;">
								<tr bgcolor="#0067B1">
									<td valign="middle" height="100" align="center"><img src="https://localfullypromoted.com/img/FP-logo-white.png" alt="Fully Promoted Logo" /></td>
								</tr>
								<tr>
									<td><img src="https://localfullypromoted.com/promote/templates/img/banner.jpg" alt="Banner" style="display: block;" /></td>
								</tr>
							</table>
							<!--/header-->
						</td>
					</tr>
					<tr>
						<td>
							<!--main content-->
							<table cellpadding="0" cellspacing="0"  width="600" align="center" style="margin: 0 auto;">
								<tr>
									<td colspan="3" height="30">&nbsp;</td>
								</tr>
								<tr>
									<td width="30"></td>
									<td width="540"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;"><strong style="font-size: 34px; line-height: 40px; color: #0067B1;">Promote Your Brand. Put Your Logo on a Mug!</strong><br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed risus eros, condimentum vitae ipsum vulputate, auctor molestie sapien. Cras sed aliquet eros. Proin in vehicula libero, nec faucibus massa. Ut vel sollicitudin nunc, id eleifend magna. Ut sit amet eros gravida, bibendum ligula vitae, accumsan ex. Vivamus gravida magna eros, at vestibulum sapien placerat nec. Nullam sed elit orci. Praesent commodo lacinia diam nec porta.</span></td>
									<td width="30"></td>
								</tr>
								<tr>
									<td colspan="3" height="30">&nbsp;</td>
								</tr>
							</table>
							<!--/main content-->
						</td>
					</tr>
					<tr>
						<td>
							<!--secondary content-->
							<table cellpadding="0" cellspacing="0"  width="600" align="center" style="margin: 0 auto;" bgcolor="#dedede">
								<tr>
									<td colspan="3" height="30">&nbsp;</td>
								</tr>
								<tr>
									<td width="30"></td>
									<td width="295" valign="top"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;"><strong style="font-size: 18px; color: #0067B1;">You Can Put Your Logo on Lots of Products!</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed risus eros, condimentum vitae ipsum vulputate, auctor molestie sapien. Cras sed aliquet eros. Proin in vehicula libero, nec faucibus massa. Ut vel sollicitudin nunc, id eleifend magna.</span></td>
									<td width="20"></td>
									<td width="225" valign="top"><img src="https://localfullypromoted.com/promote/templates/img/image.jpg" style="border: 1px solid #333;" width="225" /></td>
									<td width="30"></td>
								</tr>
								<tr>
									<td colspan="3" height="30">&nbsp;</td>
								</tr>
							</table>
							<!--/secondary content-->
						</td>
					</tr>
					<tr bgcolor="#333333">
						<td align="center" height="40">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 12px; line-height: 24px; color: #ffffff;">&copy; Fully Promoted. All rights reserved.</span>
						</td>
					</tr>
				</table>
				<!--/body-->
			</td>
		</tr>
		<tr>
			<td height="50">&nbsp;</td>
		</tr>
	</table>
	
</body>
</html>
