<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Corporate Apparel | Fully Promoted</title>
	
	<style>
		body {
			background: #dedede;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
	
</head>

<body>
	<!--wrapper-->
	<table cellpadding="0" cellspacing="0" bgcolor="#dedede" width="100%" align="center" style="margin: 0 auto;">
		<tr>
			<td>
				<!--header-->
				<table cellpadding="0" cellspacing="0" align="center" width="600">
					<tr>
						<td align="left" valign="middle"><img src="https://localfullypromoted.com/promote/templates/img/logo-fp.png" width="250" style="margin:20px 0px 15px 0px;" alt="Fully Promoted Logo" /></td>
						<td align="right" valign="middle"><strong style="font-family: Century Gothic, Helvetica, Arial, sans-serif; color:#005d9c; font-size: 24px; line-height: 30px; text-align: center;">555-555-5555</strong></td>
					</tr>
				</table>
				<!--/header-->
			</td>
		</tr>
		<tr>
			<td>
				<!--banner-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#FFFFFF">
					<tr>
						<td align="center"><img src="https://localfullypromoted.com/promote/templates/img/corporate-apparel/banner.jpg" width="100%" alt="Back to School" /></td>
					</tr>
				</table>
				<!--/banner-->
			</td>
		</tr>
		<tr>
			<td>
				<!--body-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#ffffff">
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;"><h2 style="color:#005d9c; font-size: 22px; line-height: 30px; text-align: center;">Outfit your team for the new year with corporate apparel from Fully Promoted! </h2><p style="line-height: 25px;">Get the new year started on the right foot! Making sure your team members represent your brand well starts with their appearance. Coordinated corporate apparel that includes your logo embroidered on it builds your brand’s identity and ensures that your team looks professional at all times – sending a clear message that you value quality. There’s no doubt that uniforms help customers feel comfortable when working with your team but corporate apparel goes beyond a uniform. </p></span>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" align="center"><a href=""><img src="https://localfullypromoted.com/promote/templates/img/get-started.jpg" alt="Get Started" /></a></td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540"><span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px;"><strong style="color:#2aaed8; font-size: 18px;">Corporate Apparel to Consider for Your Team</strong><p style="line-height: 25px;">Corporate apparel encompasses everything from outerwear to polo shirts and face masks that can be worn on casual Fridays in the office, on the golf course, or during virtual meetings. We offer the following brand-name items that can have your business name and/or logo embroidered on them:</p></span>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540">
							<table cellspacing="0" cellpadding="0" width="540" align="center">
								<tr>
									<td width="232"><img src="https://localfullypromoted.com/promote/templates/img/corporate-apparel/fleece.jpg" width="232" /></td>
									<td width="30">&nbsp;</td>
									<td>
										<ul>
											<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; font-weight: bold;">Jackets</li>
											<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; font-weight: bold;">Polo Shirts</li>
											<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; font-weight: bold;">Dress Shirts</li>
											<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; font-weight: bold;">Fleece</li>
											<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; font-weight: bold;">Sweaters</li>
											<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; font-weight: bold;">Athleisure</li>
											<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; font-weight: bold;">Face Masks</li>
											<li style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; font-weight: bold;">And more</li>
										</ul>
									</td>
								</tr>
								
							</table>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
				</table>
				<!--/body-->
			</td>
		</tr>

		<tr>
			<td>
				<!--text-->
				<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#cccccc">
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
					<tr>
						<td width="30">&nbsp;</td>
						<td width="540" align="center">
							<strong style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #005d9c;">Your local Fully Promoted team is standing by to help your team look its very best in the new year!</strong>
						</td>
						<td width="30">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3" align="center"><a href=""><img src="https://localfullypromoted.com/promote/templates/img/contact-us.jpg" alt="Contact Us" /></a></td>
					</tr>
					<tr>
						<td colspan="3" height="30">&nbsp;</td>
					</tr>
				</table>
				<!--/text-->
			</td>
		</tr>
		
		
		
		<tr>
			<td>
				<!--blue bar-->
				<table cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#005d9c">
					<tr>
						<td align="center" height="12"></td>
					</tr>
				</table>
				<!--/blue bar-->
			</td>
		</tr>	
		
		<tr>
			<td>	
                <!--contact-->
                <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;" bgcolor="#1d3349">
                    <tr>
                        <td colspan="5" height="20">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="30">&nbsp;</td>
                        <td width="540" style="text-align: center;">
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 22px; line-height: 32px; color: #ffffff; text-decoration:none;">
								Fully Promoted Decatur, AL</span><br/>
							<span style="font-family: Century Gothic, Helvetica, Arial, sans-serif; font-size: 22px; line-height: 32px; font-weight: 600; "><a href="tel:555-555-5555" style="color: #ffffff; text-decoration:none;">555-555-5555</a></span><br/>
						</td>
						<td width="30">&nbsp;</td>
                    </tr>	
					 <tr>
                        <td colspan="5" height="20">&nbsp;</td>
                    </tr>
					
                    <tr>
                        <td colspan="5" height="20">&nbsp;</td>
                    </tr>
                </table>
                <!--/contact-->
                <tr>
                    <td height="40">&nbsp;</td>
                </tr>
			</td>
		</tr>
	</table>
	<!--/bg-->
</body>
</html>